* {
    font-family: "DM Sans", sans-serif;
    /* font-family: 'Poppins', sans-serif; */
  }
  #grid-1 {
    /* background-color: blueviolet; */
    display: grid;
    /* width:600px;
      height:600px; */
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 6fr  15fr 1fr;
    grid-template-areas:
      "m  h"
     
      "m  M"
      "f  f";
      overflow-y: auto; 
  }
  #menu1 {
    grid-area: m;
    background-color: rgb(2, 2, 2);
    width: 200.8px;
    height: 100%; /* Change height to 100% */
    position: sticky;
    top: 0;
    box-sizing: border-box !important;
    overflow-y: auto; /* Add this to enable scrolling */
    /* Hide the scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}
#menu1::-webkit-scrollbar {
    display: none;
}

#header1 {
    grid-area: h;
    height:350px;
    background: linear-gradient(180deg, #90AEA7 10%, #000);
    
    box-sizing: border-box !important ;
  }
  #main1 {
    grid-area: M;
    z-index: 1;
    background: linear-gradient(
      to top right,
      #232121 0%,
      rgb(26, 24, 24) 70%,
      rgb(65, 63, 63) 120%
    );
    box-sizing: border-box !important;
    height: 100%; /* Set the height to 100% to fill the available vertical space */
    padding: 20px; 
}

  #footer1 {
    grid-area: f;
    /* background-color: rgb(122, 230, 241); */
    /* grid-column: 1/-1; */
    position: sticky;
    bottom: 0;
    z-index: 2;
    width:100vw;
    height:50px;
    background: linear-gradient(
      to top right,
      #5c5a5a 0%,
      rgb(26, 24, 24) 70%,
      rgb(65, 63, 63) 120%
    );
     box-sizing: border-box !important ;
  }
  .menu_card_col1 >img{
    position: relative;
    top: 10px;
    left: 10px;
  }
  .menu_card_col2_home {
    background-color: #282828;
    border-radius: 4px;
    height:50px
  }
  /* .menu_card_col2_home > p,
.menu_card_col2_search > p,
.menu_card_col2_libaray > p,
.menu_card_col4 > p {
  margin: 0px;
} */
.menu_card_col2_home p,
.menu_card_col2_search p,
.menu_card_col2_libaray  p {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  padding-top: 6px;
  padding-left: 3px;
  margin: 0px;
}
.dulipa_pic_details p{
    color:white;
    margin:0px;
}
.dulipa_pic_details ul{
    margin:0px;
}

.dis {
    display: inline-block;
}

.fim {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    color: white;
    padding: 10px 0;
}






