* {
    font-family: 'DM Sans', sans-serif;
/* font-family: 'Poppins', sans-serif; */
}
p{
    margin:0px;
}
#grid-1 {
  background-color: blueviolet;
  display: grid;
  /* width:600px;
      height:600px; */
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas:
    "m M"
    "m M"
    "f f";
}
/* #header {
    grid-area: h;
    background-color: rgb(252, 127, 113);
    grid-column: 1/-1; 
  } */
#menu {
  grid-area: m;
  background-color: rgb(2, 2, 2);
  /* width: 371.8px; */
  height: 982px;
  position: sticky;
  top: 0;
  /* overflow-y: auto; */
}
#main {
  grid-area: M;
  background-color: rgb(217, 81, 188);
  z-index: 1;
}
#footer {
  grid-area: f;
  background-color: rgb(122, 230, 241);
  /* grid-column: 1/-1; */
  position: sticky;
  bottom: 0;
  z-index:2;
}
.menu_card_col1>img{
    position:relative;
    top: 20.29px;
    left: 20.82px; 
}
.menu_card_col2_home{
    background-color: #282828;
    border-radius: 10px;
}
.menu_card_col2_home>p,.menu_card_col2_search>p,.menu_card_col2_libaray{
    margin:0px;
}
/* text-light fs-6 text-center */

  .menu_card_col2 p , .menu_card_col3 p{
    color: #fff; 
    font-size: 1rem; 
    text-align: center; 
    font-weight:700;
    padding-top:5px ;
}